.contact-section {
  &__map {
    margin-bottom: 55px;
  }

  &__list {
    padding-left: 287px;
    margin-bottom: 21px;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 36px;
    }

    svg {
      width: 28px;
      height: 18px;
      fill: var(--storm-color);
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: var(--dark-color);
      }
    }
  }

  &__descr {
    padding-left: 287px;
    margin-bottom: 10px;
    color: #a1a1a1;
  }



  &__address {
    padding-left: 287px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--scorpion-color);
  }

  &__mail {
    margin-left: 287px;
    margin-bottom: 24px;
    padding-left: 31px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: var(--dark-color);

    &::after {
      content: '';
      position: absolute;
      left: 1px;
      top: 9px;
      width: 16px;
      height: 12px;
      background-image: url('../img/footer/mail.svg');
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &__mini {
      display: flex;
      margin-bottom: 13px;
    }
  }

  .form {
    width: 825px;
    margin-left: 287px;

    &__btn {
      margin-bottom: 101px;
      width: 180px;
      color: var(--light-color);
      background-color: var(--dark-color);
    }

    &__input {
      width: 407px;
      border-color: #dfdfdf;

      &:first-child {
        margin-right: 11px;
      }

      &--big {
        width: 100%;
        margin-bottom: 20px;
        height: 125px;
        resize: none;
      }
    }
  }

}

.contact {
  padding-top: 105px;
  padding-bottom: 100px;

  &__title {
    position: relative;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      content: '';
      left: 43.5%;
      bottom: -27px;
      width: 252px;
      height: 1px;
      background: var(--nevada-color);
    }
  }

  &__descr {
    margin: 53px auto;
    text-align: center;
    width: 730px;
  }

  &__list {
    margin: auto 28px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    column-gap: 18px;
  }

  &__item {
    position: relative;
    grid-column: 3 span;
  }

  &__content {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    text-align: center;
    background-color: rgba(#fff, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--subtitle {
      margin: 0;
      padding-bottom: 39px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: var(--dark-color);
    }

    &--post {
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      color: #707070;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.contact-slider {
  margin-bottom: 102px;
  padding-bottom: 50px;
}
