.hero-about {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url('../../img/hero-about-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 401px;

  &__title {
    margin-top: 120px;
    margin-left: 48px;
    font-size: 60px;
    line-height: 80px;
  }
}
