<section class="blog-one">
  <div class="container blog-one__container">
    <article class="blog-one__article">
      <picture>
        <source srcset="img/blog/img1.avif" type="image/avif">
        <source srcset="img/blog/img1.webp" type="image/webp">
        <img loading="lazy" src="img/blog/img1.jpg" class="image" width="729" height="415" alt="img">
      </picture>
      <div class="blog-one__text">
        <div class="article-meta">
          <time class="article-meta__item" datetime="2020-08-15 19:00">August 15, 2020</time>
          <a href="#" class="article-meta__item">by Ann Summers</a>
          <span class="article-meta__item">Bedroom Furniture</span>
        </div>
        <h3 class="blog-one__title title">
          Red selfies edison bulb four dollar toast design humblebrag for the furniture
        </h3>
        <p class="descr blog-one__descr">
          Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally
          williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug
          selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst
          enamel pin edison bulb farm-to-table.
        </p>
        <p class="descr blog-one__descr">
          Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray
          stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony
          intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr
          williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo
          asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
        </p>
        <blockquote class="blockquote">
          <span class="blockquote__text">“Simplicity is not the goal. It is the by-product of a good idea and modest
            expectations”</span>
          <span class="blockquote__name">Paul Rand</span>
        </blockquote>
        <p class="blog-one__descr descr">
          Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book
          yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
        </p>
        <p class="blog-one__descr descr">
          Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray
          stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony
          intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr
          williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo
          asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
        </p>
      </div>
      <h6 class="title blog-one__sub">Tags</h6>
      <div class="blog-one__tags">
        <a href="#" class="blog-one__tag">Bedroom Furniture</a>
        <a href="#" class="blog-one__tag">Office Furniture</a>
        <a href="#" class="blog-one__tag">Dining room futniture</a>
        <a href="#" class="blog-one__tag">Chair</a>
      </div>
      <div class="swiper blog-one-slider">
        <button class="btn-reset slider-nav__btn blog-one__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn blog-one__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
           <div class="swiper-slide blog-one__slide">
            <span class="blog-one__span">
              Cred selfies edison bulb four dollar toast humblebrag
            </span>
            <span class="blog-one__span blog-one__span--right">
              Semiotics fixie four dollar toast, next level
            </span>
           </div>
           <div class="swiper-slide blog-one__slide">
            <span class="blog-one__span">
              Lorem, ipsum dolor sit amet consectetur adipisicing.
            </span>
            <span class="blog-one__span blog-one__span--right">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
           </div>
        </div>
      </div>
      <div class="comments blog-one__comments">
        <h6 class="title blog-one__sub">Comments:</h6>
        <div class="comments__comment">
          <picture>
            <source srcset="img/blog/avatar.avif" type="image/avif">
            <source srcset="img/blog/avatar.webp" type="image/webp">
            <img loading="lazy" src="img/blog/avatar.jpeg" class="image" width="64" height="64" alt="img">
          </picture>
          <div class="comments__post">
            <div class="comments__card">
              <div class="comments__name">
                <span class="comments__author title blog-one__subtitle">Lea Brown</span>
                <time class="comments__time blog-one__post--item" datetime="2020-08-12 19:00">August 12, 2020</time>
              </div>
              <button class="btn-reset comments__btn">Reply</button>
            </div>
            <p class="comments__descr descr">Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
          </div>
        </div>
      </div>
      <div class="blog-one__form">
        <h6 class="title blog-one__subtitle">Post a Comment</h6>
        <form action="#" class="form">
          <label class="form-field form__big">
            <textarea name="Message" required class="input-reset input form__input  form__input--big"
              placeholder="Your message"></textarea>
          </label>
          <div class="form__mini">
            <label class="form-field">
              <input type="text" name="Name" class="input-reset input form__input" placeholder="Your name">
            </label>
            <label class="form-field">
              <input type="email" name="email" class="input-reset input form__input " placeholder="Your e-mail">
            </label>
          </div>
          <div class="form__btns">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">Remember me</span>
            </label>
            <button class="btn-reset btn form__btn">Submit</button>
          </div>
        </form>
      </div>
    </article>
    <aside class="blog-one__aside">
      <form action="#" class="aside-form">
        <input type="text" name="Имя" class="input-reset aside-form__input" placeholder="Search">
        <button class="btn-reset aside-form__btn" type="submit">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>

      <div class="blog-one__category">
        <h6 class="title blog-one__subtitle">Categories</h6>
        <ul class="list-reset blog-one__list">
          <li class="blog-one__item"><a class="blog-one__link" href="#">Dining room (1)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Office furniture (12)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Simple interiror design (2)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Design (4)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Bedroom Furniture (1)</a></li>
        </ul>

        <h6 class="title blog-one__subtitle blog-one__subtitle--posts">Recent Posts</h6>
        <ul class="list-reset blog-one__list">
          <li class="blog-one__item">
            <a class="blog-one__link" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
            <div class="blog-one__post">
              <time class="blog-one__post--item" datetime="2020-08-10 19:00">August 10, 2020</time>
              <a href="#" class="blog-one__post--item">by Ann Summers</a>
            </div>
          </li>
          <li class="blog-one__item">
            <a class="blog-one__link" href="#">Semiotics fixie four dollar toast, next level woke scenester direct
              trade photo booth</a>
            <div class="blog-one__post">
              <time class="blog-one__post--item" datetime="2020-09-30 19:00">September 30 ,2020</time>
              <a href="#" class="blog-one__post--item">by Ann Summers</a>
            </div>
          </li>
          <li class="blog-one__item blog-one__item--last">
            <a class="blog-one__link" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
            <div class="blog-one__post">
              <time class="blog-one__post--item" datetime="2020-05-02 19:00">May 2, 2020</time>
              <a href="#" class="blog-one__post--item">by Ann Summers</a>
            </div>
          </li>
        </ul>


        <h6 class="title blog-one__subtitle">Tags</h6>
        <div class="tags">
          <a href="#" class="tags__link">Dining room futniture</a>
          <a href="#" class="tags__link">Chair</a>
          <a href="#" class="tags__link">Table</a>
          <a href="#" class="tags__link">Bedroom</a>
          <a href="#" class="tags__link">Office Furniture</a>
        </div>

        <ul class="list-reset socials">
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#Pinterest"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</section>
