<section class="blog-one">
  <div class="container blog-one__container">
    <div class="blog-one__items">
      <ul class="list-reset news">
        <li class="news__items">
          <article class="news__article">
            <picture>
              <source srcset="img/blog/img1.avif" type="image/avif">
              <source srcset="img/blog/img1.webp" type="image/webp">
              <img loading="lazy" src="img/blog/img1.jpg" class="image" width="729" height="415" alt="img">
            </picture>
            <div class="news__text">
              <div class="news__meta article-meta">
                <time class="article-meta__item" datetime="2020-08-15 19:00">August 15, 2020</time>
                <a href="#" class="article-meta__item">by Ann Summers</a>
                <span class="article-meta__item">Bedroom Furniture</span>
              </div>
              <h3 class="news__link">
                <a href="#" class="news__title title">Red selfies edison bulb four dollar toast humblebrag for the furniture</a>
              </h3>
              <p class="descr news__descr">
                Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table
              </p>
            </div>
          </article>
        </li>

        <blockquote class="blockquote">
          <span class="blockquote__text">“Simplicity is not the goal. It is the by-product of a good idea and modest expectations”</span>
          <span class="blockquote__name">Paul Rand</span>
        </blockquote>


      </ul>
    </div>

    <aside class="blog-one__aside">
      <form action="#" class="aside-form">
        <input type="text" name="Имя" class="input-reset aside-form__input" placeholder="Search">
        <button class="btn-reset aside-form__btn" type="submit">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>

      <div class="blog-one__category">
        <h6 class="title blog-one__title">Categories</h6>
        <ul class="list-reset blog-one__list">
          <li class="blog-one__item"><a class="blog-one__link" href="#">Dining room (1)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Office furniture (12)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Simple interiror design (2)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Design (4)</a></li>
          <li class="blog-one__item"><a class="blog-one__link" href="#">Bedroom Furniture (1)</a></li>
        </ul>

        <h6 class="title blog-one__title blog-one__title--posts">Recent Posts</h6>
        <ul class="list-reset blog-one__list">
          <li class="blog-one__item">
            <a class="blog-one__link" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
            <div class="blog-one__post">
              <time class="blog-one__post--item" datetime="2020-08-10 19:00">August 10, 2020</time>
              <a href="#" class="blog-one__post--item">by Ann Summers</a>
            </div>
          </li>
          <li class="blog-one__item">
            <a class="blog-one__link" href="#">Semiotics fixie four dollar toast, next level woke scenester direct
              trade photo booth</a>
            <div class="blog-one__post">
              <time class="blog-one__post--item" datetime="2020-09-30 19:00">September 30 ,2020</time>
              <a href="#" class="blog-one__post--item">by Ann Summers</a>
            </div>
          </li>
          <li class="blog-one__item blog-one__item--last">
            <a class="blog-one__link" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
            <div class="blog-one__post">
              <time class="blog-one__post--item" datetime="2020-05-02 19:00">May 2, 2020</time>
              <a href="#" class="blog-one__post--item">by Ann Summers</a>
            </div>
          </li>
        </ul>


        <h6 class="title blog-one__title">Tags</h6>
        <div class="tags">
            <a href="#" class="tags__link">Dining room futniture</a>
            <a href="#" class="tags__link">Chair</a>
            <a href="#" class="tags__link">Table</a>
            <a href="#" class="tags__link">Bedroom</a>
            <a href="#" class="tags__link">Office Furniture</a>
        </div>

        <ul class="list-reset socials">
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#Pinterest"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg>
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</section>
