<section class="blog">
  <div class="container blog__container">
    <h1 class="title blog__title">More inspiration ideas in our blog</h1>
    <ul class="list-reset blog__list">
      <li class="blog__item">
        <article class="news-article">
          <picture>
            <source srcset="img/porfolio/blog1.avif" type="image/avif">
            <source srcset="img/porfolio/blog1.webp" type="image/webp">
            <img loading="lazy" src="img/porfolio/blog1.jpg" class="image" width="539" height="307" alt="img">
          </picture>
          <div class="news-article__text">
            <div class="news-article__meta article-meta">
              <time class="article-meta__item" datetime="2020-03-12 19:00">March 12, 2020</time>
              <a href="#" class="article-meta__item">by Ann Summers</a>
              <span class="article-meta__item">Inrerior</span>
            </div>
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Listicle actually selvage activated charcoal for the drinking vinegar </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="news-article">
          <picture>
            <source srcset="img/porfolio/blog2.avif" type="image/avif">
            <source srcset="img/porfolio/blog2.webp" type="image/webp">
            <img loading="lazy" src="img/porfolio/blog2.jpg" class="image" width="539" height="307" alt="img">
          </picture>
          <div class="news-article__text">
            <div class="news-article__meta article-meta">
              <time class="article-meta__item" datetime="2020-09-28 19:00">September 28,2020</time>
              <a href="#" class="article-meta__item">by Finnagan Morningstar</a>
              <span class="article-meta__item">Dining room interior</span>
            </div>
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Red selfies edison bulb four dollar toast humblebrag</a>
            </h3>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
