<section class="collection">
  <h1 class="title collection__title">Furniture new collection</h1>
  <p class="descr collection__descr">Deep v you probably haven't heard of them banh mi synth actually affogato.
    Aesthetic lyft ethical drinking vinegar austint</p>
  <ul class="list-reset collection__list">
    <li class="collection__item">
      <a href="#" class="collection__link">
        <picture>
          <source srcset="../img/collection/image1.avif" type="image/avif">
          <source srcset="../img/collection/image1.webp" type="image/webp">
          <img loading="lazy" src="../img/collection/image1.jpg" class="image" width="350" height="350" alt="img">
        </picture>
        <div class="collection__content">
          <h2 class="collection__content--subtitle">Truffaut literally trust</h2>
          <span class="collection__content--post">Living room furntiture</span>
        </div>
      </a>
    </li>
    <li class="collection__item">
      <a href="#" class="collection__link">
        <picture>
          <source srcset="../img/collection/image2.avif" type="image/avif">
          <source srcset="../img/collection/image2.webp" type="image/webp">
          <img loading="lazy" src="../img/collection/image2.jpg" class="image" width="350" height="350" alt="img">
        </picture>
        <div class="collection__content">
          <h2 class="collection__content--subtitle">Truffaut literally trust</h2>
          <span class="collection__content--post">Living room furntiture</span>
        </div>
      </a>
    </li>
    <li class="collection__item">
      <a href="#" class="collection__link">
        <picture>
          <source srcset="../img/collection/image3.avif" type="image/avif">
          <source srcset="../img/collection/image3.webp" type="image/webp">
          <img loading="lazy" src="../img/collection/image3.jpg" class="image" width="350" height="350" alt="img">
        </picture>
        <div class="collection__content">
          <h2 class="collection__content--subtitle">Truffaut literally trust</h2>
          <span class="collection__content--post">Living room furntiture</span>
        </div>
      </a>
    </li>
    <li class="collection__item">
      <a href="#" class="collection__link">
        <picture>
          <source srcset="../img/collection/image4.avif" type="image/avif">
          <source srcset="../img/collection/image4.webp" type="image/webp">
          <img loading="lazy" src="../img/collection/image4.jpg" class="image" width="350" height="350" alt="img">
        </picture>
        <div class="collection__content">
          <h2 class="collection__content--subtitle">Truffaut literally trust</h2>
          <span class="collection__content--post">Living room furntiture</span>
        </div>
      </a>
    </li>
    <li class="collection__item">
      <a href="#" class="collection__link">
        <picture>
          <source srcset="../img/collection/image5.avif" type="image/avif">
          <source srcset="../img/collection/image5.webp" type="image/webp">
          <img loading="lazy" src="../img/collection/image5.jpg" class="image" width="350" height="350" alt="img">
        </picture>
        <div class="collection__content">
          <h2 class="collection__content--subtitle">Truffaut literally trust</h2>
          <span class="collection__content--post">Living room furntiture</span>
        </div>
      </a>
    </li>
  </ul>
</section>
