<section class="content-about">
  <div class="container content-about__container">
    <h2 class="title content-about__title">Balance in the simple through an informed marriage of design, functional and craft</h2>
    <p class="descr content-about__descr">
      Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock chillwave literally post-ironic ramps subway tile kitsch. Shaman tumblr fixie echo park street art. Enamel pin vaporware wayfarers, organic succulents hella sustainable cardigan.
    </p>
    <p class="descr content-about__descr">
      Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn tilde distillery pork belly single-origin coffee tumblr quinoa copper mug. Affogato cold-pressed unicorn, viral intelligentsia leggings raw denim kombucha tote bag messenger bag chambray vape coloring book scenester. Activated charcoal wayfarers church-key tote bag synth brunch. Retro cornhole
    </p>
  </div>
  <div class="video-block">
    <button class="btn-reset video-block__play" aria-label="play video">
      <svg>
        <use xlink:href="img/sprite.svg#play"></use>
      </svg>
    </button>
    <video class="video-block__content" src="about-video.mp4" muted loop preload="metadata"></video>
  </div>

</section>
