<section class="details">
  <div class="details__container">
    <img src="img/details-img.png" alt="img">
    <div class="details__content">
      <h2 class="title details__title">Our Inspiration in details</h2>
      <p class="descr details__descr">Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack church-key cornhole, banh mi thundercats gochujang keytar.</p>
      <ul class="list-reset details__list">
        <li class="details__item">
          <h4 class="title details__text details__text--one">Design and technical drawings</h4>
          <span class="details__pros">80%</span>
        </li>
        <li class="details__item">
          <h4 class="title details__text details__text--two">Measurments</h4>
          <span class="details__pros">70%</span>
        </li>
        <li class="details__item">
          <h4 class="title details__text details__text--three">Furniture functionality analysis</h4>
          <span class="details__pros">75%</span>
        </li>
        <li class="details__item">
          <h4 class="title details__text details__text--four">Interior visualization</h4>
          <span class="details__pros">40%</span>
        </li>
      </ul>
    </div>
  </div>
</section>
@include('partners.html')
