<section class="hero">
  <div class="swiper hero-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__container">
          <div class="hero__left hero__left--one">
          </div>
          <div class="hero__right">
            <h1 class="hero__title">Furniture collection</h1>
            <p class="descr hero__descr">Deep v you probably haven't heard of them banh mi synth actually affogato.
              Aesthetic lyft ethical drinking vinegar austint</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__container">
          <div class="hero__left hero__left--two">
          </div>
          <div class="hero__right">
            <h1 class="hero__title">Furniture collection</h1>
            <p class="descr hero__descr">Deep v you probably haven't heard of them banh mi synth actually affogato.
              Aesthetic lyft ethical drinking vinegar austint</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__container">
          <div class="hero__left hero__left--three">
          </div>
          <div class="hero__right">
            <h1 class="hero__title">Furniture collection</h1>
            <p class="descr hero__descr">Deep v you probably haven't heard of them banh mi synth actually affogato.
              Aesthetic lyft ethical drinking vinegar austint</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
