<section class="partners">
  <ul class="list-reset partners__list grid">
    <li class="partners__item">
      <picture>
        <source srcset="../img/partners1.avif" type="image/avif">
        <source srcset="../img/partners1.webp" type="image/webp">
        <img loading="lazy" src="../img/partners1.jpg" class="image" width="320" height="320" alt="img">
      </picture>
    </li>
    <li class="partners__item">
      <picture>
        <source srcset="../img/partners2.avif" type="image/avif">
        <source srcset="../img/partners2.webp" type="image/webp">
        <img loading="lazy" src="../img/partners2.jpg" class="image" width="320" height="320" alt="img">
      </picture>
    </li>
    <li class="partners__item">
      <picture>
        <source srcset="../img/partners1.avif" type="image/avif">
        <source srcset="../img/partners1.webp" type="image/webp">
        <img loading="lazy" src="../img/partners1.jpg" class="image" width="320" height="320" alt="img">
      </picture>
    </li>
    <li class="partners__item">
      <picture>
        <source srcset="../img/partners2.avif" type="image/avif">
        <source srcset="../img/partners2.webp" type="image/webp">
        <img loading="lazy" src="../img/partners2.jpg" class="image" width="320" height="320" alt="img">
      </picture>
    </li>
    <li class="partners__item">
      <picture>
        <source srcset="../img/partners1.avif" type="image/avif">
        <source srcset="../img/partners1.webp" type="image/webp">
        <img loading="lazy" src="../img/partners1.jpg" class="image" width="320" height="320" alt="img">
      </picture>
    </li>
  </ul>
</section>
