<section class="portfolio">
  <div class="portfolio__container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="list-reset portfolio-tabs-nav">
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active"  data-path="bedroom">
          Bedroom furniture
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
          <button class="btn-reset portfolio-tabs-nav__btn" data-path="living">
            Living room furniture
          </button>
      </li>
      <li class="portfolio-tabs-nav__item">
          <button class="btn-reset portfolio-tabs-nav__btn"  data-path="office">
            Office furniture
          </button>
      </li>
      <li class="portfolio-tabs-nav__item">
          <button class="btn-reset portfolio-tabs-nav__btn"  data-path="dining">
            Dining room futniture
          </button>
      </li>
      <li class="portfolio-tabs-nav__item">
          <button class="btn-reset portfolio-tabs-nav__btn"  data-path="chair">
            Chair
          </button>
      </li>
    </ul>
    <!-- BEDROOM -->
    <ul class="list-reset portfolio-tabs grid">
      <li class="portfolio-tabs__item portfolio-tabs__item--big portfolio-tabs__item--visible">
        <div class="portfolio__item" data-target="bedroom">
          <picture>
            <source srcset="../img/porfolio/bedroom1.avif" type="image/avif">
            <source srcset="../img/porfolio/bedroom1.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/bedroom1.jpg" class="image" width="812" height="1148" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <div class="portfolio__item" data-target="bedroom">
          <picture>
            <source srcset="../img/porfolio/bedroom2.avif" type="image/avif">
            <source srcset="../img/porfolio/bedroom2.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/bedroom2.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <div class="portfolio__item" data-target="bedroom">
          <picture>
            <source srcset="../img/porfolio/bedroom3.avif" type="image/avif">
            <source srcset="../img/porfolio/bedroom3.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/bedroom3.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <div class="portfolio__item" data-target="bedroom">
          <picture>
            <source srcset="../img/porfolio/bedroom4.avif" type="image/avif">
            <source srcset="../img/porfolio/bedroom4.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/bedroom4.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <div class="portfolio__item" data-target="bedroom">
          <picture>
            <source srcset="../img/porfolio/bedroom5.avif" type="image/avif">
            <source srcset="../img/porfolio/bedroom5.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/bedroom5.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <!-- LIVING -->
      <li class="portfolio-tabs__item portfolio-tabs__item--big">
        <div class="portfolio__item" data-target="living">
          <picture>
            <source srcset="../img/porfolio/living1.avif" type="image/avif">
            <source srcset="../img/porfolio/living1.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/living1.jpg" class="image" width="812" height="1148" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="living">
          <picture>
            <source srcset="../img/porfolio/living2.avif" type="image/avif">
            <source srcset="../img/porfolio/living2.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/living2.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="living">
          <picture>
            <source srcset="../img/porfolio/living3.avif" type="image/avif">
            <source srcset="../img/porfolio/living3.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/living3.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="living">
          <picture>
            <source srcset="../img/porfolio/living4.avif" type="image/avif">
            <source srcset="../img/porfolio/living4.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/living4.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="living">
          <picture>
            <source srcset="../img/porfolio/living5.avif" type="image/avif">
            <source srcset="../img/porfolio/living5.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/living5.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <!-- OFFICE -->
      <li class="portfolio-tabs__item portfolio-tabs__item--big">
        <div class="portfolio__item" data-target="office">
          <picture>
            <source srcset="../img/porfolio/office1.avif" type="image/avif">
            <source srcset="../img/porfolio/office1.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/office1.jpg" class="image" width="812" height="1148" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="office">
          <picture>
            <source srcset="../img/porfolio/office2.avif" type="image/avif">
            <source srcset="../img/porfolio/office2.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/office2.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="office">
          <picture>
            <source srcset="../img/porfolio/office3.avif" type="image/avif">
            <source srcset="../img/porfolio/office3.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/office3.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="office">
          <picture>
            <source srcset="../img/porfolio/office4.avif" type="image/avif">
            <source srcset="../img/porfolio/office4.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/office4.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="office">
          <picture>
            <source srcset="../img/porfolio/office5.avif" type="image/avif">
            <source srcset="../img/porfolio/office5.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/office5.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <!-- DINING -->
      <li class="portfolio-tabs__item portfolio-tabs__item--big">
        <div class="portfolio__item" data-target="dining">
          <picture>
            <source srcset="../img/porfolio/dining1.avif" type="image/avif">
            <source srcset="../img/porfolio/dining1.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/dining1.jpg" class="image" width="812" height="1148" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="dining">
          <picture>
            <source srcset="../img/porfolio/dining2.avif" type="image/avif">
            <source srcset="../img/porfolio/dining2.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/dining2.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="dining">
          <picture>
            <source srcset="../img/porfolio/dining3.avif" type="image/avif">
            <source srcset="../img/porfolio/dining3.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/dining3.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="dining">
          <picture>
            <source srcset="../img/porfolio/dining4.avif" type="image/avif">
            <source srcset="../img/porfolio/dining4.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/dining4.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="dining">
          <picture>
            <source srcset="../img/porfolio/dining5.avif" type="image/avif">
            <source srcset="../img/porfolio/dining5.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/dining5.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <!-- CHAIR -->
      <li class="portfolio-tabs__item portfolio-tabs__item--big">
        <div class="portfolio__item" data-target="chair">
          <picture>
            <source srcset="../img/porfolio/chair1.avif" type="image/avif">
            <source srcset="../img/porfolio/chair1.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/chair1.jpg" class="image" width="812" height="1148" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="chair">
          <picture>
            <source srcset="../img/porfolio/chair2.avif" type="image/avif">
            <source srcset="../img/porfolio/chair2.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/chair2.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="chair">
          <picture>
            <source srcset="../img/porfolio/chair3.avif" type="image/avif">
            <source srcset="../img/porfolio/chair3.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/chair3.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="chair">
          <picture>
            <source srcset="../img/porfolio/chair4.avif" type="image/avif">
            <source srcset="../img/porfolio/chair4.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/chair4.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
      <li class="portfolio-tabs__item">
        <div class="portfolio__item" data-target="chair">
          <picture>
            <source srcset="../img/porfolio/chair5.avif" type="image/avif">
            <source srcset="../img/porfolio/chair5.webp" type="image/webp">
            <img loading="lazy" src="../img/porfolio/chair5.jpg" class="image" width="493" height="559" alt="img">
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
@include('blog.html')
