<section class="steps">
  <div class="container steps__container">
    <h1 class="title steps__title">How it works</h1>
    <div class="steps__items">
      <div class="steps__item">
        <div class="steps__card">
          <svg class="steps__card--cons">
            <use xlink:href="img/sprite.svg#consultation"></use>
          </svg>
          <h2 class="steps__subtitle">Designer Consultation</h2>
        </div>
        <p class="descr steps__descr">Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book.</p>
      </div>
      <div class="steps__item">
        <div class="steps__card">
          <svg class="steps__card--prod">
            <use xlink:href="img/sprite.svg#prodaction"></use>
          </svg>
          <h2 class="steps__subtitle">Production</h2>
        </div>
        <p class="descr steps__descr">Everyday carry actually neutra authentic kogi shabby chic</p>
      </div>
    </div>
    <div class="steps__item">
      <div class="steps__card">
        <svg class="steps__card--tape">
          <use xlink:href="img/sprite.svg#tape"></use>
        </svg>
        <h2 class="steps__subtitle">Measurements</h2>
      </div>
      <p class="descr steps__descr">Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
    </div>
  </div>
</section>
