// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --yellow-color: #ffef35;
  --dark-color: #363838;
  --scorpion-color: #5a5a5a;
  --nevada-color:#6d7278;
  --gray-color: #8f8d8d;
  --storm-color: #707070;


  // sizes
  --grid-gap: 37px;
}
